In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
import scipy.stats as st

ia_weather = pd.read_csv('ia_final.csv')
il_weather = pd.read_csv('il_final.csv')
ks_weather = pd.read_csv('ks_final.csv')
mo_weather = pd.read_csv('mo_final.csv')
tx_weather = pd.read_csv('tx_final.csv')
#ia_weather.head()
ia_yields = pd.read_csv('ia_yields.csv')
il_yields = pd.read_csv('il_yields.csv')
ks_yields = pd.read_csv('ks_yields.csv')
mo_yields = pd.read_csv('mo_yields.csv')
tx_yields = pd.read_csv('tx_yields.csv')
# tx_yields.head()

   Unnamed: 0  Year  State  ...   COUNTY_STATE  Wheat Yield Soybean Yield
0         526  2019  TEXAS  ...    BELL, TEXAS          NaN           NaN
1         527  2019  TEXAS  ...  COLLIN, TEXAS          NaN           NaN
2         528  2019  TEXAS  ...   COOKE, TEXAS          NaN           NaN
3         529  2019  TEXAS  ...   ELLIS, TEXAS          NaN           NaN
4         530  2019  TEXAS  ...  FANNIN, TEXAS          NaN           NaN

[5 rows x 8 columns]